<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
 
    <Fragment Id="proQuest.airQuest.FarelogixWS.dll">
        <DirectoryRef Id="dir5B7E63C261D06EBF88AB6EC2753E0606">
            <Component Id="cmp0653ACF9D0DB163A025A1979E3731DEC" Guid="7569f91d-08db-4369-bf4a-296f3b5f99b6">
                <Class Id="{E85C4210-801B-3E6A-B528-2314F3AA35C5}" Context="InprocServer32" Description="proQuest.airQuest.FarelogixWS.FlxWS+Logger" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="proQuest.airQuest.FarelogixWS.FlxWS+Logger" Description="proQuest.airQuest.FarelogixWS.FlxWS+Logger" />
                </Class>
                <Class Id="{F6BE54F1-0DD5-3E2A-9BDE-598EA5E050ED}" Context="InprocServer32" Description="proQuest.airQuest.FarelogixWS.FlxWS" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="proQuest.airQuest.FarelogixWS.FlxWS" Description="proQuest.airQuest.FarelogixWS.FlxWS" />
                </Class>
                <File Id="fil11624A3DB28FF23B16484283949BF653" KeyPath="yes" Source="SourceDir\DLL\proQuest.airQuest.FarelogixWS.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{E85C4210-801B-3E6A-B528-2314F3AA35C5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E85C4210-801B-3E6A-B528-2314F3AA35C5}\InprocServer32\1.0.2.0" Name="Class" Value="proQuest.airQuest.FarelogixWS.FlxWS+Logger" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E85C4210-801B-3E6A-B528-2314F3AA35C5}\InprocServer32\1.0.2.0" Name="Assembly" Value="proQuest.airQuest.FarelogixWS, Version=1.0.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E85C4210-801B-3E6A-B528-2314F3AA35C5}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v2.0.50727" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E85C4210-801B-3E6A-B528-2314F3AA35C5}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil11624A3DB28FF23B16484283949BF653]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E85C4210-801B-3E6A-B528-2314F3AA35C5}\InprocServer32" Name="Class" Value="proQuest.airQuest.FarelogixWS.FlxWS+Logger" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E85C4210-801B-3E6A-B528-2314F3AA35C5}\InprocServer32" Name="Assembly" Value="proQuest.airQuest.FarelogixWS, Version=1.0.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E85C4210-801B-3E6A-B528-2314F3AA35C5}\InprocServer32" Name="RuntimeVersion" Value="v2.0.50727" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E85C4210-801B-3E6A-B528-2314F3AA35C5}\InprocServer32" Name="CodeBase" Value="file:///[#fil11624A3DB28FF23B16484283949BF653]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F6BE54F1-0DD5-3E2A-9BDE-598EA5E050ED}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F6BE54F1-0DD5-3E2A-9BDE-598EA5E050ED}\InprocServer32\1.0.2.0" Name="Class" Value="proQuest.airQuest.FarelogixWS.FlxWS" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F6BE54F1-0DD5-3E2A-9BDE-598EA5E050ED}\InprocServer32\1.0.2.0" Name="Assembly" Value="proQuest.airQuest.FarelogixWS, Version=1.0.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F6BE54F1-0DD5-3E2A-9BDE-598EA5E050ED}\InprocServer32\1.0.2.0" Name="RuntimeVersion" Value="v2.0.50727" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F6BE54F1-0DD5-3E2A-9BDE-598EA5E050ED}\InprocServer32\1.0.2.0" Name="CodeBase" Value="file:///[#fil11624A3DB28FF23B16484283949BF653]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F6BE54F1-0DD5-3E2A-9BDE-598EA5E050ED}\InprocServer32" Name="Class" Value="proQuest.airQuest.FarelogixWS.FlxWS" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F6BE54F1-0DD5-3E2A-9BDE-598EA5E050ED}\InprocServer32" Name="Assembly" Value="proQuest.airQuest.FarelogixWS, Version=1.0.2.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F6BE54F1-0DD5-3E2A-9BDE-598EA5E050ED}\InprocServer32" Name="RuntimeVersion" Value="v2.0.50727" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F6BE54F1-0DD5-3E2A-9BDE-598EA5E050ED}\InprocServer32" Name="CodeBase" Value="file:///[#fil11624A3DB28FF23B16484283949BF653]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Component Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Name="0" Value=".NET Category" Type="string" Action="write" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>